<!DOCTYPE html>
<html lang='en'>

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Tutor ML</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>

        <h3>Video 2</h3>

        <video width="640" height="480" controls>
            <source = src="/static/videos/video_2.mp4"
            type="video/mp4">
        </video>

        <form action = "CONNECT_TO_BACK_END" method="POST">
            <label> Feedback about this video:</label><br><br>


            <textarea rows = "5" cols = "60" id="CONNECT_TO_BACK_END" name = "Feedback">
            Enter details here...
            </textarea><br>

            <input type = "submit" value = "submit"/>

        </form>

        
    </body>
</html>